.full{
	width: 100vw;
	height: 100vh;
	background-image: url('../images/bg.jpg');
	background-size: cover;
	animation-name: moveSlide;
	animation-duration: 1000s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
@keyframes moveSlide {
	from {
		background-position: 0% top;
	}
	to{
		background-position: -100000px top;
	}
}