<h1>Heroes</h1>
<div class="card-columns">
  <div class="card" *ngFor="let heroe of heroes" >
    <img class="card-img-top img-fluid" [src]="heroe.img" alt="Card image cap">
    <!--funciona con [src] ó {{heroe.img}}-->
    <div class="card-block">
      <h4 class="card-title">{{heroe.nombre}}</h4>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <button type="button" name="" id="" class="btn btn-outline-primary btn-block">
        ver más
      </button>
    </div>
  </div>
</div>